.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 60px;
}

.card img {
    max-width: 100%;
}